.wrapper-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
    align-items: center;
    max-width: 1277px;

    .card-character {
        display: flex;
        padding: 30px 20px;
        flex-direction: column;
        gap: 12px;
        border-radius: 20px;
        background: var(--color-black);
        max-width: 256px;
        min-height: 481px;
        color: var(--color-white);
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        img {
            height: 216px;
            border-radius: 50px;
            transition: border 0.1s ease;
        }


        h6 {
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 130.62%;
        }

        .text-wrapper {
            display: flex;
            align-items: flex-start;
            gap: 10px;

            svg {
                flex-shrink: 0;
            }

            p {
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 130.62%;
            }
        }

    }

    .card-character:hover {
        transform: scale(1.05);
        box-shadow: 0px 10px 30px var(--color-primary);

        img {
            border: 4px solid var(--color-primary);
        }
    }
}