header {
    background-color: var(--color-primary);
    padding: 10px 35px;
    /*align-items: center;*/
    display: flex;
    justify-content: flex-end;
}

.header-wrapper {
    a {
        display: flex;
        gap: 16px;
        align-items: center;
        color: var(--color-black);

        span {
            font-size: 20px;
            font-weight: bold;
        }
    }

    a:hover {
        text-decoration: underline;
        color: #0f3a29;
    }
}
